@import 'normalize.css';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* font */
    font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: white;
  }
  
.container {
    /* Full height */
    width: 100%;
    height: 100vh;
    
    /* Background image */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;

    /* Grid system */
    display: grid;
    grid-template-rows: 15% 1fr;
}

header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn {
    height: 2.5rem;
    width: 5rem;
    border-radius: 8px;
    border: none;
    background-color: white;
    padding: 0px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    margin-bottom: 4rem;
}

#content > div {
    width: 60%;
    max-width: 60%;
    padding: 1rem 10%;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 20px;
    text-align: justify;
}

#content > .title {
    text-align: center;
    padding: 3rem 0;
    background-color: rgba(0, 0, 0, 0.95);
}

#content > .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, clamp(250px, 50%, 400px)));
    grid-template-rows: repeat(3, 1fr); 
    gap: 2rem 3rem;
    justify-content: center;
    align-items: center;
    padding: 5rem 10%;
}

.card {
    padding: 1rem 2rem;
    border: 1px rgba(219, 219, 219, 0.75) solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.dishImg {
    max-width: 80%;
    max-height: auto;
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    border: rgba(51, 51, 51, 0.9) 1px solid;
}