html, body {
    height: 100%;
    margin: 0;
  }
  

.container-fluid {
    background: url('./assets/background.jpg');
    background-repeat: no-repeat;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dishImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}